{% extends 'base.html.twig' %}

{% block title %}Condition d'utilisations{% endblock %}

{% block body %}
    <div class="news">
        <h1>Conditions d’utilisations</h1>
    </div>
    <div class="rgpd">
        <section>
            <h2>Conditions d’utilisations</h2>
            <p>Veuillez lire attentivement ces conditions d’utilisation avant d’utiliser le site Web http://www.dailynovels.fr.</p>
            <p>Votre accès et votre utilisation du Service sont conditionnés par votre acceptation et votre respect des présentes Conditions. Ces Conditions s’appliquent à tous les visiteurs, utilisateurs et autres qui accèdent ou utilisent le Service.</p>
            <p>En accédant ou en utilisant le Service, vous acceptez d’être lié par ces Conditions. Si vous n’êtes pas d’accord avec une partie des conditions, vous ne pouvez pas accéder au service.</p>
        </section>
        <section>
            <h2>Comptes</h2>
            <p>Vous êtes responsable de la sauvegarde du mot de passe que vous utilisez pour accéder au Service et de toute activité ou action sous votre mot de passe, que votre mot de passe soit avec notre Service ou un service tiers.</p>
            <p>Vous vous engagez à ne pas divulguer votre mot de passe à un tiers. Vous devez nous informer immédiatement dès que vous avez connaissance d’une violation de la sécurité ou d’une utilisation non autorisée de votre compte.</p>
        </section>
        <section>
            <h2>Conformité DMCA</h2>
            <p>Nous voulons nous assurer que le contenu que nous publions peut être réutilisé par d’autres utilisateurs sans crainte de responsabilité et qu’il n’enfreint pas les droits de propriété d’autrui.</p>
            <p>Pour plus d’informations sur ce qu’il faut faire si vous pensez qu’un avis DMCA a été déposé de manière incorrecte, vous pouvez visiter le site Web de Chilling Effects.</p>
            <p>Vous pouvez également envoyer un avis à notre adresse e-mail dailynovels@gmail.com avant de déposer une réclamation DMCA.</p>
        </section>
        <section>
            <h2>Admissibilité</h2>
            <p>Vous devez avoir au moins 13 ans pour utiliser le Service. En acceptant ces Conditions, vous déclarez et garantissez que : (i) vous avez au moins 13 ans ; (ii) vous n’avez pas été précédemment suspendu ou retiré du Service ; et (iii) votre inscription et votre utilisation du Service sont conformes à toutes les lois et réglementations applicables.</p>
            <p>Si vous utilisez le Service au nom d’une entité, d’une organisation ou d’une entreprise, vous déclarez et garantissez que vous avez le pouvoir de lier cette organisation à ces Conditions et vous acceptez d’être lié par ces Conditions au nom de cette organisation.</p>
        </section>
        <section>
            <h2>Changements</h2>
            <p>Nous nous réservons le droit, à notre seule discrétion, de modifier ou de remplacer ces Conditions à tout moment. Si une révision est importante, nous essaierons de fournir un préavis d’au moins 30 jours avant l’entrée en vigueur de nouvelles conditions. Ce qui constitue un changement important sera déterminé à notre seule discrétion.</p>
            <p>En continuant à accéder ou à utiliser notre Service après l’entrée en vigueur de ces révisions, vous acceptez d’être lié par les conditions révisées. Si vous n’acceptez pas les nouvelles conditions, veuillez cesser d’utiliser le Service.</p>
        </section>
    </div>
{% endblock %}