{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}
    <h1>Présentation de DailyNovels</h1>
    <div class="presentation">
            <img src="{{ asset('images/logo-gris.png') }}" alt="Logo-site">
            <p>Le site DailyNovels est un projet personnel pour mon école qui est réalisé par un fan de lecture dans son désir de promouvoir les romans étrangés au public francophone.</p>
    </div>
{% endblock %}