{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
    <div class="news">
        <h1>Politique de confidentialité</h1>
    </div>
    <div class="rgpd">
        <section>
            <h2>Déclaration de violation du droit d’auteur</h2>
            <p>Ce site n’est pas destiné, ni n’autorise ou n’a de mécanismes spécifiquement conçus, pour le transfert de matériel protégé par le droit d’auteur entre les utilisateurs.</p>
            <p>Son objectif principal est d’être une source d’informations sur les nouvelles séries, ainsi qu’une communauté pour ses utilisateurs.</p>
            <p>Il sert un objectif secondaire en tant qu’index, pour informer de l’activité au sein de la communauté des nouvelles traductions à tous ceux qui souhaitent être informés.</p>
        </section>
        <section>
            <h2>Liens externes</h2>
            <p>Bien que ce site Web soit uniquement destiné à inclure des liens externes de qualité, sûrs et pertinents, les utilisateurs doivent toujours faire preuve de prudence avant de cliquer sur des liens Web externes utilisés sur ce site Web.</p>
            <p>Les propriétaires de ce site Web ne peuvent garantir ou vérifier le contenu de tout site Web externe malgré leurs meilleurs efforts.</p>
            <p>Par conséquent, les utilisateurs doivent tenir compte du fait qu’ils cliquent sur les liens externes à leurs propres risques et que ce site Web et ses propriétaires ne sont pas responsables des dommages ou des conséquences causés par la visite des liens externes mentionnés.</p>
        </section>
        <section>
            <h2>Droits de contenu</h2>
            <p>DailyNovels ne possède pas la propriété d’aucune des images utilisées sur le site.</p>
            <p>Toutes les images appartiennent à leurs propriétaires respectifs. Les membres de DailyNovels et son hôte ne sont pas responsables du contenu affiché sur ce site.</p>
            <p>En soumettant des informations sur ce site, vous acceptez d’autoriser DailyNovels à les afficher sans condition.</p>
            <p>Le contenu reste le vôtre, mais vous nous autorisez à l’afficher pour une durée non divulguée comme bon nous semble. Tous les autres contenus appartiennent à DailyNovels et ne peuvent donc pas être utilisés sans autorisation écrite.</p>
        </section>
        <section>
            <h2>Cookies et publicité de tiers</h2>
            <p>Google et d’autres opérateurs, comme des fournisseurs tiers, utilisent des cookies pour diffuser des annonces. L’utilisation par Google du cookie DART lui permet de diffuser des annonces à vos utilisateurs en fonction de leurs visites sur vos sites et d’autres sites sur Internet.</p>
            <p>Les utilisateurs peuvent refuser l’utilisation des cookies DART en visitant la politique de confidentialité de Google Ads et du réseau de contenu.</p>
            <p>Nous autorisons des sociétés tierces à afficher des publicités et/ou à collecter certaines informations anonymes lorsque vous visitez notre site Web. Ces sociétés peuvent utiliser des informations non identifiables lors de vos visites sur ce site et sur d’autres.</p>
        </section>
    </div>
{% endblock %}