{% extends 'base.html.twig' %}

{% block title %}Résultats du Scraping{% endblock %}

{% block body %}
    <div class="container mt-5">
    <h1>Résultats du Scraping</h1>

    {% if data is not empty %}
        <ul>
            {% for item in data %}
                <li>
                    <strong>{{ item.title }}</strong> ({{ item.novelTitle }}) - 
                    <a href="{{ item.chapterUrl }}" target="_blank">Lire le chapitre</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune donnée n'a été récupérée.</p>
    {% endif %}
    </div>
{% endblock %}
