<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Email :{{ contact.email }}</h1>
		<h2>Sujet :{{ contact.subject }}</h2>
		<p>Message :</p>
		<div>
			{{ contact.message }}
		</div>
	</body>
</html>