<footer id="main-footer">
    <nav> 
        <a href="{{ path('rgpd') }}">Politique de confidentialité</a> 
        <a href="{{ path('conditions') }}">Conditions d'utilisation</a>
        <a href="{{ path('contact') }}">Contact</a>
    </nav>
</footer>